---
---

@import "font";
@import "skeleton";
@import "responsive";

@import "blog";
@import "syntax";

@import "resume";

html, body {
  color: $font-color;

  p {
    line-height: 28px;
  }
}

body {
  background: $dark-gray;
}

a {
  text-decoration: none;
  color: $link-color;
}

#wrapper {
  @extend .container;
}

header {
  @extend .row;
  padding-top: 25px;

  #name {
    @extend .u-full-width;
    text-align: center;
    font-family: "Sora", sans-serif;
    font-size: 28px;
    font-weight: 500;
    letter-spacing: .1em;

    a {
      color: $light-gray;
    }

    a:hover {
      color: #fff;
    }
  }

  nav {
    @extend .u-full-width;
    text-align: center;
    text-transform: lowercase;
    font-weight: 700;
    margin-top: 10px;

    ul {
      font-size: 0.95em;
      list-style: none;
      text-align: center;
      padding: 0px;

      li {
        display: inline-block;
        margin: 0 auto;

        a {
          padding: 0px 10px;
          border-radius: 2px;
          margin-left: 5px;
          text-align: center;
          display: block;
          padding-bottom: 4px;
          color: $light-gray;
        }

        a:hover {
          color: #fff;
        }
      }

      li.active a {
        padding-bottom: 3px;
        border-bottom: 2px solid $dark-gray;
      }

      li:first-child a {
        margin-left: -2px;
      }
    }
  }
}

#container {
  @extend .row;

  h1, h2, h3, h4, h5, h6 {
    font-family: Sora, sans-serif;
    font-weight: 500;
    color: $font-color;
  }

  a {
    color: $link-color;
    border-bottom: 1px solid transparent;
  }

  a:hover {
    border-bottom: 1px solid $font-color;
  }

  a:visited {
    color: darken($link-color, 10%);
  }
}

#content.index {
  ul li {
    padding: 3px 0 10px;

    &:last-child {
      border: none;
      padding-bottom: 0px;
    }

    a {
      color: $link-color;
      font-size: 16px;
      letter-spacing: .03em;
      font-family: $font-family;
      padding: 5px 0 5px;
    }
  }

  span.blog-post-date {
    font-family: "Lucida Console", "Monaco", monospace;
  }
}

#content.code {
  h3 {
    margin-top: 35px;

    &:first-child {
      margin-top: -5px;
    }
  }

  p {
    clear: both;

    a:first-child {
      float: left;
      margin: -20px 0px 10px;
    }
  }
}

#about-me {
  border-top: 1px dashed $gray;
  padding: 20px 10px 20px 10px;
  font-size: .9em;
}

footer {
  @extend .row;
}

ul#profiles {
  @extend .twelve;
  @extend .columns;
  font-size: 42px;
  margin-top: -50px;
  margin-left: -5px !important;

  li {
    margin-right: 15px;
    list-style: none;
    float: left;
  }

  a { color: $border-color; }
  a:hover { color: $light-gray; }
}
