body {
  background: #fefefe; }

@font-face {
  font-family: 'Mono Social Icons Font';
  src: url("MonoSocialIconsFont-1.10.eot");
  src: url("MonoSocialIconsFont-1.10.eot?#iefix") format("embedded-opentype"), url("MonoSocialIconsFont-1.10.woff") format("woff"), url("MonoSocialIconsFont-1.10.ttf") format("truetype"), url("MonoSocialIconsFont-1.10.svg#MonoSocialIconsFont") format("svg");
  src: url("MonoSocialIconsFont-1.10.ttf") format("truetype");
  font-weight: normal;
  font-style: normal; }
.symbol, a.symbol:before {
  font-family: 'Mono Social Icons Font';
  -webkit-text-rendering: optimizeLegibility;
  -moz-text-rendering: optimizeLegibility;
  -ms-text-rendering: optimizeLegibility;
  -o-text-rendering: optimizeLegibility;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased; }

a {
  color: #217fbb;
  text-decoration: none;
  font-weight: bold; }

#wrapper {
  padding: 15px 0px 0px;
  margin: 25px auto;
  text-align: left;
  width: 70%; }
  #wrapper h1 {
    font-family: "Helvetica Neue", Helvetica;
    margin-bottom: 25px;
    font-size: 24px; }

#container p {
  font-family: "Helvetica Neue", Helvetica;
  text-align: left;
  line-height: 30px; }
  #container p:first-child {
    margin-top: 0px; }
  #container p:last-child {
    margin-bottom: 0px; }

ul#profiles {
  margin-left: -40px;
  margin-top: 25px;
  font-size: 42px;
  overflow: auto;
  float: left; }
  ul#profiles li {
    margin-right: 15px;
    list-style: none;
    float: left; }
  ul#profiles a {
    color: #bbb; }
