---
---

@import "font";
@import "skeleton";
@import "responsive";

@import "blog";
@import "syntax";

@import "resume";

html, body {
  color: $font-color;

  p {
    line-height: 28px;
  }
}

body {
  background: #fff;
}

a {
  text-decoration: none;
  color: $font-color;
}

#wrapper {
  @extend .container;
}

header {
  @extend .row;
  padding-top: 25px;

  #name {
    @extend .u-full-width;
    text-align: center;
    font-family: "Lucida Bright", Baskerville, serif;
    font-variant: small-caps;
    font-size: 28px;
    font-weight: bold;
    letter-spacing: .1em;
  }

  nav {
    @extend .u-full-width;
    text-align: center;
    font-weight: bold;
    margin-top: 10px;

    ul {
      font-size: 1.1em;
      list-style: none;
      text-align: center;
      padding: 0px;

      li {
        display: inline-block;
        margin: 0 auto;

        a {
          margin-left: 15px;
          text-align: center;
          display: block;
          padding-bottom: 4px;
        }
      }

      li.active a {
        padding-bottom: 3px;
        border-bottom: 2px solid $dark-gray;
      }

      li:first-child a {
        margin-left: -2px;
      }
    }
  }
}

#container {
  @extend .row;

  h1, h2, h3, h4, h5, h6 {
    font-family: "Lora", "Lucida Bright", Baskerville, serif;
    color: $font-color;
  }

  a {
    color: #206ecc;
    border-bottom: 1px solid transparent;
  }

  a:hover {
    border-bottom: 1px solid $font-color;
  }

  a:visited {
    color: #bb7f21;
  }
}

#content.index {
  ul li {
    border-bottom: 1px dotted $light-gray;
    padding: 3px 0 10px;

    &:last-child {
      border: none;
      padding-bottom: 0px;
    }

    a {
      color: #206ecc;
      font-size: 16px;
      letter-spacing: .03em;
      font-family: $font-family;
    }
  }

  span.blog-post-date {
    font-family: "Lucida Console", "Monaco", monospace;
  }
}

#content.code {
  h3 {
    margin-top: 35px;

    &:first-child {
      margin-top: -5px;
    }
  }

  p {
    clear: both;

    a:first-child {
      float: left;
      margin: -20px 0px 10px;
    }
  }
}

#about-me {
  border-top: 1px solid $light-gray;
  padding-top: 30px;
  font-size: 15px;
}

footer {
  @extend .row;
}

ul#profiles {
  @extend .twelve;
  @extend .columns;
  font-size: 42px;
  margin-top: -45px;
  margin-left: -15px !important;

  li {
    margin-right: 15px;
    list-style: none;
    float: left;
  }

  a { color: $border-color; }
  a:hover { color: $dark-gray; }
}
