---
---

@import "font";
@import "skeleton";
@import "responsive";

@import "blog";
@import "syntax";

@import "resume";

html, body {
  color: #222;
}

body {
  background: #fff;
}

a {
  text-decoration: none;
  color: #222;
}

#wrapper {
  @extend .container;
}

header {
  @extend .row;
  padding-top: 25px;

  #name {
    @extend .u-full-width;
    font-variant: small-caps;
    letter-spacing: .1em;
    font-size: 28px;
    font-weight: bold;
    text-align: center;
  }

  nav {
    @extend .u-full-width;
    text-align: center;
    margin-top: 8px;

    ul {
      font-size: 1.1em;
      list-style: none;
      padding: 0px;
      margin: 0 0 15px;

      li {
        display: inline-block;
        padding: 0px 8px;

        a {
          padding-bottom: 7px;
        }
      }

      li.active a {
        padding-bottom: 5px;
        border-bottom: 2px solid #444;
      }
    }
  }
}

#container {
  @extend .row;

  a {
    color: #217fbb;
    border-bottom: 1px solid transparent;
  }

  a:hover {
    border-bottom: 1px solid #222;
  }

  a:visited {
    color: #bb7f21;
  }
}

#content.index {
  ul li {
    border-bottom: 1px dotted #e1e1e1;
    padding: 3px 0 10px;

    &:last-child {
      border: none;
      padding-bottom: 0px;
    }

    a {
      color: #217fbb;
      font-size: 16px;
      letter-spacing: .03em;
    }
  }
}

#content.code {
  h3 {
    margin-top: 35px;

    &:first-child {
      margin-top: -5px;
    }
  }

  p {
    clear: both;

    a:first-child {
      float: left;
      margin: -20px 0px 10px;
    }
  }
}

#about-me {
  border-top: 1px solid #ddd;
  padding-top: 30px;
  font-size: 15px;
}

footer {
  @extend .row;
}

ul#profiles {
  @extend .twelve;
  @extend .columns;
  font-size: 42px;
  margin-top: -45px;
  margin-left: -15px !important;

  li {
    margin-right: 15px;
    list-style: none;
    float: left;
  }

  a { color: #bbb; }
  a:hover { color: #888; }
}
