body.jquery_selecta {
  label {
    text-transform: uppercase;
    padding-bottom: 5px;
    font-size: 12px;
    display: block;
  }

  p {
    margin-top: 10px;
    line-height: 20px;
    &.above { margin-top: 25px; }
    &.below { margin-bottom: 25px; }
  }

  div.selecta {
    background: #fff url('selecta/selecta_arrow.png') no-repeat right 50%;
    box-shadow: inset 0px 1px 0px #c3c3c3;
    border: 1px solid #c3c3c3;
    border-bottom-color: #dddddd;
    border-top-color: #7c7c7c;
    margin-top: 2px;
    line-height: 20px;
    padding: 0px;
    height: 34px;
    width: 203px;

    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -o-user-select: none;
    user-select: none;

    div.selecta_selected_option {
      padding-left: 13px;
      line-height: 35px;
      cursor: pointer;
    }

    div.selecta_options {
      border: 1px solid #ccc;
      border-top: none;
      background: #fff;
      margin-bottom: 15px;
      display: none;
      width: 200px;

      position: absolute;
      z-index: 9999;

      div.selecta_option {
        line-height: 24px;

        &.selecta_current_option {
          background: #fff url('selecta/selecta_check.png') no-repeat right 50%;
          font-style: italic;
          color: #888;
        }

        &:hover {
          background-color: #f5f5f5;
        }
      }
    }

    div.selecta_option {
      padding: 8px 12px;
      cursor: pointer;
      height: 21px;
      z-index: 999;
    }
  }
}
