@import "font";
body {
  background: #fefefe;
}

a {
  color: #217fbb;
  text-decoration: none;
  font-weight: bold;
}

#wrapper {
  padding: 15px 0px 0px;
  margin: 25px auto;
  text-align: left;
  width: 70%;

  h1 {
    font-family: "Helvetica Neue", Helvetica;
    margin-bottom: 25px;
    font-size: 24px;
  }
}

#container {
  p {
    font-family: "Helvetica Neue", Helvetica;
    text-align: left;
    line-height: 30px;

    &:first-child {
      margin-top: 0px;
    }

    &:last-child {
      margin-bottom: 0px;
    }
  }
}

ul#profiles {
  margin-left: -40px;
  margin-top: 25px;
  font-size: 42px;
  overflow: auto;
  float: left;

  li {
    margin-right: 15px;
    list-style: none;
    float: left;
  }

  a {
    color: #bbb;
  }
}
