@import "font";
@import "pocketgrid";

body {
  background: #fefefe;
}

a {
  text-decoration: none;
  color: #444;
}

#wrapper {
  padding: 15px 0px 0px;
  margin: 25px auto;
  text-align: left;
  width: 70%;

  h1 {
    font-family: "Helvetica Neue", Helvetica;
    margin-bottom: 25px;
    font-size: 24px;
  }
}

#header {
  @extend .block-group;

  div {
    @extend .block;
    width: 50%;
  }

  .menu {
    padding-right: 20px;
    padding-top: 8px;
    text-align: right;

    ul {
      font-weight: bold;
      list-style: none;
      float: right;

      li {
        margin-left: 20px;
        display: inline;
        float: left;
      }

      a {
        padding-bottom: 7px;
        &.current {
          padding-bottom: 5px;
          border-bottom: 2px solid #BBB;
        }
      }
    }
  }
}

#container {
  @extend .block-group;

  a {
    color: #217fbb;
  }

  p {
    text-align: left;
    line-height: 30px;

    &:first-child {
      margin-top: 0px;
    }

    &:last-child {
      margin-bottom: 0px;
    }
  }
}

#content {
  @extend .block;
  width: 75%;

  &.homepage {
    a {
      font-weight: bold;
    }
  }
}

ul#profiles {
  margin-left: -40px;
  margin-top: 25px;
  font-size: 42px;
  overflow: auto;
  float: left;

  li {
    margin-right: 15px;
    list-style: none;
    float: left;
  }

  a {
    color: #bbb;
  }
}

body#work {
  #content {
    h4 {
      margin-top: 35px;
      &:first-child {
        margin-top: 5px;
      }
    }

    p {
      a:first-child {
        display: block;
        margin: -20px 0px 10px;
        width: 110px;
      }
    }
  }
}
