  <meta http-equiv="content-type" content="text/html; charset=UTF-8" />
  <meta http-equiv="content-language" content="en-us" />
  <meta name="robots" content="index, follow" />
  <meta name="description" content="Ronnie Miller a software developer located in Portland, OR. He uses Ruby, Rails and React to deliver powerful web applications and small business software tools." />
  <meta name="keywords" content="Ronnie Miller, software developer, web developer, software engineer, consultant, ruby, ruby on rails, jquery, react, postgresql, mysql, aws" />
  <meta property="og:title" content="{% if page.title %}{{ page.title }} - {% endif %}Ronnie Miller - Software Developer">
  <meta property="og:description" content="Ronnie Miller a software developer located in Portland, OR. He uses Ruby, Rails and React to deliver powerful web applications and small business software tools.">
  <meta property="og:image" content="http://ronniemlr.com/images/me.jpg">
  <meta name="viewport" content="width=device-width,initial-scale=1">
  <title>{% if page.title %}{{ page.title }} - {% endif %}Ronnie Miller - Software Developer</title>
  <link rel="stylesheet" type="text/css" href="{{ site.baseurl }}/css/screen.css" />
