<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en-us">
<head>
{% include head.html %}
</head>

<body>
<div id="wrapper">
  <header>
    <div id="name"><a href="/">Ronnie Miller</a></div>
    <nav>
      <ul>
        <li{% if page.url == '/index.html' or page.url contains '/201' %} class="active"{% endif %}><a href="/">Blog</a></li>
        <li{% if page.url contains '/code/'   %} class="active"{% endif %}><a href="/code">Code</a></li>
        <li{% if page.url contains '/resume/' %} class="active"{% endif %}><a href="/resume">CV</a></li>
      </ul>
    </nav>
  </header>

  <div id="container">
