// Main font settings

html, body {
  // font-family: "Lucida Bright", Verdana, Helvetica;

  p {
    line-height: 28px;
  }
}

#name {
  font-family: "Lucida Bright", Baskerville, serif;
}

#container {
  h1, h2, h3, h4, h5, h6 {
    font-family: "Lucida Bright", Baskerville, serif;
  }
}

#content.index {
  ul li a {
    font-family: "Lucida Sans", Verdana, sans-serif;
  }

  span.blog-post-date {
    font-family: "Lucida Console", "Monaco", monospace;
  }
}

// Social media icons

@font-face {
    font-family: 'Mono Social Icons Font';
    src: url('MonoSocialIconsFont-1.10.eot');
    src: url('MonoSocialIconsFont-1.10.eot?#iefix') format('embedded-opentype'),
         url('MonoSocialIconsFont-1.10.woff') format('woff'),
         url('MonoSocialIconsFont-1.10.ttf') format('truetype'),
         url('MonoSocialIconsFont-1.10.svg#MonoSocialIconsFont') format('svg');
    src: url('MonoSocialIconsFont-1.10.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

.symbol, a.symbol:before {
  font-family: 'Mono Social Icons Font';
  -webkit-text-rendering: optimizeLegibility;
  -moz-text-rendering: optimizeLegibility;
  -ms-text-rendering: optimizeLegibility;
  -o-text-rendering: optimizeLegibility;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
}
