@media (max-width: $larger-than-desktop) {
  header {
    nav {
      float: none;
      padding-top: 45px;

      ul li:first-child {
        margin-left: -6px;
      }
    }
  }

  #content.page.blog {
    li {
      flex-direction: column !important;
    }

    span.blog-post-date {
      margin: 0px !important;
      margin-top: 3px !important;
      font-size: .80em !important;
      order: 2;
    }
  }
}

@media (max-width: $larger-than-tablet) {
  body #content.blog-post {
    p img.console-image  {
      border-radius: 4px;
    }
  }
}

.post-content {
  img {
    max-width: 100% !important;
    height: auto;
    display: block;
  }
}
