<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en-us">
<head>
  <meta http-equiv="content-type" content="text/html; charset=UTF-8" />
  <meta http-equiv="content-language" content="en-us" />
  <meta name="robots" content="index, follow" />
  <meta name="description" content="Ronnie Miller is a software engineer based in Bakersfield CA. He utilizes Ruby, Rails and iOS to deliver automation and workflow tools" />
  <meta name="keywords" content="Ronnie Miller, consultant, software engineer, web developer, software developer, ruby, ruby on rails, jquery, iOS, mysql, @ronniemlr" />
  <title>{% if page.title %}{{ page.title }} | {% endif %}Ronnie Miller &ndash; Software Engineer</title>
  <link rel="stylesheet" type="text/css" href="css/screen.css" />
  <link href='http://fonts.googleapis.com/css?family=Rambla' rel='stylesheet' type='text/css'>
  <script src="//ajax.googleapis.com/ajax/libs/jquery/1.8.2/jquery.min.js"></script>
  <script type="text/javascript" src="js/global.js"></script>
</head>

<body>
<div id="wrapper">
  <div id="about">
    <h1>My name is Ronnie Miller</h1>
    <p>I write software using Ruby on Rails, jQuery, iOS.</p>
  </div>

  <div id="content">
{{ content }}
  </div>
</div>
</body>
<script type="text/javascript">
var _gaq = _gaq || [];
_gaq.push(['_setAccount', 'UA-19173573-1']);
_gaq.push(['_trackPageview']);

(function() {
  var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
  ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
  var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
})();
</script>
</html>
